{% javascripts '@MaesboxVideoBundle/Resources/public/js/jwplayer.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<div id="container">Chargement du player en cours ...</div>
{% javascripts '@MaesboxVideoBundle/Resources/public/js/jwplayer.html5.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    jwplayer("container").setup({
        file: "{{ options.file }}",
        image: "/uploads/media/{{ options.thumbnail.getKey() }}",
        width: "{{ options.width }}",
        height: "{{ options.height }}",
        //skin: "/common/player/glow/glow.xml",
        modes: [
            { type: "html5" },
            { type: "flash", src: "{{ asset('bundles/maesboxvideo/player/jwplayer.flash.swf') }}" },
            { type: "http" }
        ]
    });
</script>